/*todo lo principal*/
.imagen{
    width: 254px;
    height: 254px;
}
.experience{
    width: 820px;
    height: 968px;
    max-width: 100%;
    height: auto;

}
.Welcome{
    padding-left: 17px;
    padding-top: 5px;
    font-size: 60px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 307px;
    height: 72px;
}
.Iniciar{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 40px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 249px;
    height: 48px;
}
.User-input{
    width: 381px;
    height: 54px;
    border-radius: 20px;
    font-family: "Roboto",sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: rgba(86, 81, 81, 1);
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.Password-input{
    width: 381px;
    height: 54px;
    border-radius: 20px;
    font-family: "roboto",sans-serif;
    color: rgba(86, 81, 81, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    margin-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.boton{
    border-radius: 20px;
    padding-top: 20px;
    width: 253px;
    height: 50px;
    font-family: "Inria serif";
    font-size: 30px;


}
.C-acount{
    padding-top: 20px;
    color:black;
}
.rec{
    padding-left: 195px;
}
.inputs{
    align-items: center;
    padding-left: 21px;
}

/*aqui empieza el register*/
.imagen2{
    width: 254px;
    height: 254px;

}
.exp-re{
    width: 655px;
    height: 680px;
    margin: 0;
    padding: 0;
    border:0;
    display: block;
    height: auto;

}

.Regist{
    font-family: "Roboto",sans-serif;
}
.Input-name{
    width: 381px;
    height: 54px;
    border-radius: 20px;
    font-family: "Roboto",sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: rgba(86, 81, 81, 1);
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.Input-email{
        width: 381px;
        height: 54px;
        border-radius: 20px;
        font-family: "Roboto",sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        color: rgba(86, 81, 81, 1);
        font-size: 20px;
        font-weight: 400;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;

}
.Input-pass{
    width: 381px;
        height: 54px;
        border-radius: 20px;
        font-family: "Roboto",sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        color: rgba(86, 81, 81, 1);
        font-size: 20px;
        font-weight: 400;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;

}
.Input-Cpass{
    width: 381px;
        height: 54px;
        border-radius: 20px;
        font-family: "Roboto",sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        color: rgba(86, 81, 81, 1);
        font-size: 20px;
        font-weight: 400;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;

}
.Reg{
    border-radius: 20px;
}
/*parte de Irving*/
/*aqui empieza su parte valeria y ruby marquen de quien es la parde cada quien*/
